/* Text Elements */

h1 span.blue-title {
  color: #4973ec;
}

h1.company-name-heading {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #5b5757;
  text-transform: uppercase;
  font-size: 45px;
  font-family: 'Anton', ,,,;
}

h1.contact-us-header {
  margin-bottom: 2rem;
  color: #4973ec;
  font-size: 1.5rem;
  font-family: 'Archivo Black', ,,,;
}

h1 span.heading-text-1 {
  color: #4973ec;
}

h1 span.heading-text-2 {
  color: #5b5757;
}

h2.blue-heading-center {
  padding-right: 10px;
  color: #4973ec;
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  font-family: 'Archivo Black', ,,,;
}

h2.blue-heading-left {
  color: #4973ec;
  font-weight: 400;
  font-size: 35px;
  font-family: 'Archivo Black', ,,,;
}

h2.grey-heading {
  color: #2c3840;
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  font-family: 'Anton', ,,,;
}

h2.grey-heading.left {
  text-align: left;
}

h2.white-heading {
  padding-bottom: 30px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-family: 'Archivo Black', ,,,;
}

h4.sub-title-dark {
  margin-bottom: 20px;
  padding-top: 19px;
  color: #2c3840;
  font-size: 25px;
  font-family: 'Archivo Black', ,,,;
}

h4.service.sub-title-dark {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  font-family: 'Archivo', ,,,;
}

h4.sub-heading {
  margin-bottom: 0;
  padding-top: 10px;
  color: #5b5757;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Archivo', ,,,;
}

h4.footer-title {
  color: #fff;
  font-size: 30px;
  font-family: 'Archivo', ,,,;
}

h4 span.blue-mini {
  color: #7fb2e1;
}

h4.name-heading {
  color: #94c7f7;
  text-align: center;
  text-shadow: #2c3840 0 0 1px;
  font-weight: 700;
  font-size: 25px;
}

h4.sub-title-blue {
  margin-bottom: 20px;
  padding-top: 19px;
  color: #4973ec;
  font-size: 25px;
  font-family: 'Archivo Black', ,,,;
}

h5.small-white-heading {
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  font-family: 'Catamaran', ,,,;
}

h5.project-heading {
  padding-top: 20px;
  font-size: 25px;
  font-family: 'Anton', ,,,;
}

h6.small-blue {
  color: #1c76c7;
  font-weight: 700;
  font-family: 'Archivo', ,,,;
}

h6.main-bar-title {
  color: #fff;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  font-family: 'Archivo', ,,,;
}

h6.thin-title {
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  font-family: 'Archivo', ,,,;
}

p.paragraph.test-para {
  text-align: left;
}

p.paragraph.white-para {
  color: #fff;
  text-align: center;
}

p.paragraph.call-to-action {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 18px;
  font-family: 'Arima Madurai', ,,,;
}

p.paragraph.address-1 {
  color: #fff;
}

p.paragraph span.blue-sub-bold {
  color: #1c76c7;
}

p.paragraph.highlight {
  font-weight: 700;
}

p.paragraph.footer-paragraph {
  color: #fff;
}

p.paragraph.employee-para {
  color: #fff;
  text-align: center;
}

p.paragraph.paragraph-1 {
  font-family: 'Archivo', ,,,;
}

p.paragraph.paragraph-2 {
  font-family: 'Archivo', ,,,;
}

p.paragraph {
  font-family: 'Archivo', ,,,;
}

span.text-element.blue-small-text {
  color: #1c76c7;
  font-size: 18px;
  font-family: 'Archivo', ,,,;
}

a.link-text.blue-text-link {
  margin-top: 0;
  color: #1c76c7;
  font-size: 18px;
  font-family: 'Archivo', ,,,;
}

a.link-text.address-1 {
  color: #fff;
}

a.link-text.title {
  color: #1c76c7;
  font-size: 26px;
  font-family: 'Anton', ,,,;
}

a.link-text.link-menu-item {
  border-width: .0625rem;
  border-style: solid;
  background-color: #1c76c7;
  color: #fff;
  font-size: 18px;
}

a.link-text.link-menu-item:hover {
  background-color: #7fb2e1;
  color: #5b5757;
}

ul.link-list.ul-link-1 {
  margin-left: 0;
  list-style-type: none;
}

/* Interaction Elements */

a.link-button.call-to-action {
  margin-right: 0;
  margin-left: 0;
  padding: 10px 40px;
  width: auto;
  border-radius: 3px;
  background-color: #6d8fec;
  color: #fff;
}

a.link-button.blue.button {
  width: 100%;
  background-color: #4973ec;
  font-weight: 700;
  font-family: 'Archivo', ,,,;
}

a.link-button.button.left {
  background-color: #4973ec;
}

select.listbox.list-box-1 {
  color: #8a8a8a;
}

textarea.textarea-1 {
  color: #8a8a8a;
}

label.label.form-label {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #4973ec;
}

/* Layout Elements */

.container.social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  padding-top: 10px;
  padding-bottom: 10px;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.call-to-action {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

.container.welcome-content {
  padding-right: 5px;
  padding-left: 5px;
}

.container.left.social-icons {
  -ms-flex-pack: start;

  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
}

.container.project-row {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

.container.service-container {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.container.about-row {
  margin: 30px 0;
}

.container.employee-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.container.mission-contain {
  padding: 10px;
}

.container.contact-column-left {
  margin-bottom: 2rem;
  padding: 1rem 2rem 2rem;
  border-bottom: .125rem solid #e6e6e6;
}

.container.contact-column-right {
  margin-bottom: 2rem;
  padding: 1rem 2rem 2rem;
  border-bottom: 0 solid #e6e6e6;
}

.container.head {
  background-color: #4973ec;
}

.container.hours-of-operation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 10px;
  max-width: 1200px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

.container.gallery-section {
  margin-bottom: 30px;
  max-width: none;
}

.container.navigation-section {
  position: static;
  top: 0;
  z-index: 200;
  border-top: .0625rem solid #5b5757;
}

.container.choice-section {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: none;
  background-color: #4973ec;
}

.container.section-inner {
  background-color: #4973ec;
}

.container.card-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  margin-bottom: 40px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.choice-card {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #4973ec;
}

.container.service-section {
  margin: 50px auto;
  max-width: 1200px;
}

.container.service-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

.container.service-card {
  padding-right: 12px;
  padding-left: 12px;
}

.container.testimonials-section {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  margin: 50px auto;
  max-width: 1200px;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.container.testimonial-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  padding-top: 20px;
  padding-bottom: 20px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.testimonial-heading {
  width: 100%;
}

.container.testimonial-card {
  padding-right: 20px;
  padding-left: 20px;
}

.container.number-section {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #4973ec;
}

.container.number-card {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #141d23;
}

.container.footer-cards-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
  background-color: #141d23;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

.container.footer-card {
  padding-right: 20px;
  padding-left: 10px;
}

.container.location-section {
  padding-top: 30px;
  padding-bottom: 0;
}

.container.employees-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #141d23;
  background-image: url('../images/about-background.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

.container.mission-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container.services-wrapper {
  margin-top: 40px;
  margin-bottom: 0;
}

.container.services-rule {
  padding-right: 5px;
  padding-left: 5px;
}

.container.project-wrapper {
  padding: 20px;
}

.container.project-card {
  margin-bottom: 10px;
}

.container.nav-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  padding-right: 10px;
  padding-left: 10px;
  border: .0625rem solid #1c76c7;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container.welcome-section {
  padding-right: 10px;
  padding-left: 10px;
}

.container.column-type {
  padding-right: 10px;
  padding-left: 10px;
}

a.social-image.social-icon-1 {
  margin-top: 8px;
  margin-left: 5px;
  padding-top: 0;
  background-color: #6d8fec;
}

a.glyph.font-icon-link-1 {
  float: left;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  color: #4973ec;
  font-size: 30px;
}

ul.list-container.orbit-container {
  height: auto;
  border-top: .125rem solid #1c76c7;
  border-bottom: .125rem solid #1c76c7;
}

li.list-item-container.orbit-slide {
  opacity: 0;
}

li.list-item-container.is-active.orbit-slide {
  display: block;
  opacity: 1;
}

div.responsive-picture.orbit-image {
  max-width: none;
}

button.slide-indicator {
  margin-right: 1.1%;
  margin-left: 1.1%;
  width: 1.1rem;
  border-radius: 50px;
  background-color: #94c7f7;
  font-size: 1px;
}

span.glyph.font-icon-1 {
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 0;
  min-height: 200px;
  width: 200px;
  border: .1875rem solid #fff;
  border-radius: 180px;
  color: #fff;
  text-align: center;
  font-size: 70px;
}

span.glyph.font-icon-2 {
  color: #4973ec;
  font-size: 30px;
}

div.responsive-picture.service-image {
  max-width: none;
}

.rule.rule-1 hr {
  border-top-color: #5b5757;
}

div.responsive-picture.testimonial-image {
  margin-right: auto;
  margin-left: auto;
  border: .0625rem solid #1c76c7;
}

div.responsive-picture.welcome-image {
  max-width: 600px;
  border: .0625rem solid #1c76c7;
}

li.list-item-link.blue-list-item > a {
  color: #7fb2e1;
}

button.is-active.slide-indicator {
  background-color: #4973ec;
  font-size: 16px;
}

.rule.rule-2 {
  margin-right: auto;
  margin-left: auto;
  width: 20%;
}

.rule.rule-2 hr {
  border-top-color: #2c3840;
}

span.glyph.service-icon {
  float: left;
  margin-right: 8px;
  margin-left: 0;
  padding-right: 0;
  border-color: #4973ec;
  color: #4973ec;
  font-size: 40px;
}

div.responsive-picture.project-image {
  max-width: none;
}

.rule.rule-3 {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

div.responsive-picture.team-image {
  margin: 0 auto 20px;
  border: .1875rem solid #2c3840;
  border-radius: 180px;
}

div.responsive-picture.map {
  margin-bottom: 15px;
  max-width: none;
}

a.link-button-glyph.contact-button {
  display: block;
  width: auto;
  vertical-align: middle;
}

span.glyph-for-button.contact-icon {
  margin-right: 1rem;
  margin-left: .4rem;
  color: #4973ec;
  font-size: 2rem;
}

span.link-button-text.contact-text {
  color: #8a8a8a;
  vertical-align: super;
}

div.responsive-picture.secondary-page-image {
  max-width: none;
}

div.responsive-picture.about-image {
  float: left;
  margin-bottom: 20px;
  max-width: none;
}

div.responsive-picture.large-horizontal {
  max-width: none;
}

button.button.form-button {
  background-color: #4973ec;
}

span.glyph.icon {
  color: #1c76c7;
  font-size: 40px;
}

li.list-item-link.blue-list-item:hover > a {
  color: #fff;
}

@media screen and (min-width: 28.125rem) {
  /* Text Elements */

  h1.contact-us-header {
    font-size: 30px;
  }

  h2.blue-heading-center {
    width: 100%;
  }

  /* Interaction Elements */

  a.link-button.blue.button {
    font-weight: 700;
  }

  a.link-button.call-to-action {
    margin-left: 0;
  }

  /* Layout Elements */

  .container.call-to-action {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: justify;
    padding-right: 10px;
    padding-left: 10px;

    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.hours-of-operation-container {
    padding-left: 10px;
  }

  .container.navigation-section {
    position: static;
    top: 0;
  }

  .container.service-inner {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }

  .container.testimonial-heading {
    width: 0;
  }

  .container.number-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    width: 100%;
  }

  .container.services-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.welcome-content {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .container.service-container {
    width: 50%;
  }

  .container.services-rule {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .container.name {
    width: 100%;
  }

  .container.phone {
    width: 100%;
  }

  .container.hours {
    width: 100%;
  }

  .container.container-1 {
    width: 100%;
  }

  .container.business-hours {
    width: 100%;
  }

  div.responsive-picture.about-image {
    float: left;
    max-width: 600px;
  }
}

@media screen and (min-width: 40rem) {
  /* Text Elements */

  h1.company-name-heading {
    width: auto;
    font-size: 40px;
  }

  h1.contact-us-header {
    font-size: 32px;
  }

  h2.blue-heading-center {
    width: 100%;
  }

  h4.sub-title-dark {
    padding-top: 0;
  }

  h4.sub-heading {
    padding-top: 0;
  }

  h4.sub-title-blue {
    padding-top: 0;
  }

  p.paragraph.footer-paragraph {
    padding-right: 20px;
  }

  p.paragraph.about-paragraph {
    color: #0a0a0a;
  }

  a.link-text.link-menu-item {
    border: 0 none #fff;
    background-color: #fff;
    color: #1c76c7;
  }

  a.link-text.link-menu-item:hover {
    background-color: #fff;
  }

  /* Interaction Elements */

  select.listbox.list-box-1 {
    color: #8a8a8a;
  }

  textarea.textarea-1 {
    color: #8a8a8a;
  }

  label.label.form-label {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #1c76c7;
  }

  /* Layout Elements */

  .container.call-to-action {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.container-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: center;
    -ms-flex-align: start;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
            align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
            align-content: flex-start;
  }

  .container.business-hours {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: start;
    -ms-flex-align: start;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
            align-items: flex-start;
  }

  .container.service-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .container.contact-column-left {
    margin-top: 7px;
    min-height: 66.35785vmin;
    width: 50%;
    border-right: .0625rem solid #e6e6e6;
    border-bottom-width: 0;
  }

  .container.contact-column-right {
    margin-top: 7px;
    min-height: 66.35785vmin;
    width: 50%;
    border-right: .0625rem solid #e6e6e6;
    border-bottom-width: 0;
    border-left: .0625rem solid #e6e6e6;
  }

  .container.social-links {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    width: 50%;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
  }

  .container.c-t-a {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    width: 50%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.head {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
  }

  .container.hours-of-operation-container {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
    padding-top: 30px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }

  .container.navigation-section {
    position: static;
  }

  .container.section-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.card-inner {
    margin-right: 0;
    margin-left: 0;
    width: 100%;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.choice-card {
    width: 50%;
  }

  .container.service-section {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.service-card {
    width: 50%;
  }

  .container.testimonial-heading {
    width: 100%;
  }

  .container.testimonial-card {
    width: 33.333%;
  }

  .container.testimonials-section {
    -ms-flex-pack: justify;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.number-section {
    display: block;
    margin-right: auto;
    margin-left: auto;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.number-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.number-card {
    width: 50%;
  }

  .container.footer-cards-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: justify;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.footer-card {
    padding-left: 10px;
    width: 50%;
  }

  .container.location-section {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
  }

  .container.column-type {
    padding-right: 10px;
    padding-left: 10px;
  }

  .container.about-row {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
  }

  .container.employee-container {
    width: 50%;
  }

  .container.employees-section {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    background-position: center top;
    background-size: auto auto;
    background-repeat: repeat;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.mission-section {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
  }

  .container.mission-card {
    width: 33.333%;
  }

  .container.project-card {
    padding-right: 10px;
    padding-left: 10px;
    width: 33.333%;
  }

  .container.project-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    padding-right: 10px;
    padding-left: 10px;
  }

  .container.services-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
  }

  .container.project-row {
    margin-right: auto;
    margin-left: auto;
    max-width: none;
  }

  .container.name {
    max-width: 40%;
  }

  a.glyph.font-icon-link-1 {
    float: left;
    margin-bottom: 0;
  }

  button.slide-indicator {
    margin-right: .1%;
    margin-left: .1%;
  }

  div.responsive-picture.welcome-image {
    margin-right: auto;
    margin-left: auto;
  }

  span.link-button-text.contact-text {
    color: #8a8a8a;
  }

  div.responsive-picture.about-image {
    padding-right: 15px;
    padding-left: 0;
    max-width: 500px;
  }

  div.responsive-picture.large-horizontal {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 64rem) {
  /* Text Elements */

  h1.company-name-heading {
    color: #2c3840;
    font-size: 45px;
  }

  h1.contact-us-header {
    color: #4973ec;
    font-family: 'Archivo Black', ,,,;
  }

  h2.blue-heading-center {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  h2.grey-heading {
    margin-top: 0;
    margin-bottom: 20px;
    color: #5b5757;
    text-align: center;
  }

  h2.grey-heading.left {
    font-family: 'Archivo Black', ,,,;
  }

  h4.sub-title-dark {
    padding-top: 20px;
    color: #2c3840;
    text-align: left;
    font-size: 28px;
  }

  h4.service.sub-title-dark {
    text-align: center;
    font-size: 24px;
  }

  h4.sub-heading {
    color: #2c3840;
  }

  h4.footer-title {
    font-family: 'Archivo Black', ,,,;
  }

  h4.name-heading {
    color: #94c7f7;
  }

  h4.sub-title-blue {
    padding-top: 20px;
    color: #4973ec;
    text-align: left;
    font-size: 28px;
    font-family: 'Archivo Black', ,,,;
  }

  h5.project-heading {
    font-family: 'Anton', ,,,;
  }

  h6.small-blue {
    color: #1c76c7;
    font-weight: 700;
  }

  p.paragraph.test-para {
    color: #0a0a0a;
    text-align: left;
  }

  p.paragraph.project-para {
    text-align: justify;
  }

  p.paragraph span.blue-sub-bold {
    color: #1c76c7;
  }

  p.paragraph.highlight {
    color: #0a0a0a;
    font-weight: 700;
  }

  /* Interaction Elements */

  a.link-button.button {
    width: 100%;
  }

  a.link-button.blue.button {
    background-color: #1c76c7;
    font-weight: 700;
  }

  a.link-button.call-to-action {
    margin-left: 30px;
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0s;
       -moz-transition-duration: 0s;
         -o-transition-duration: 0s;
            transition-duration: 0s;
    -webkit-transition-property: none;
       -moz-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
  }

  a.link-button.button.left {
    float: left;
    min-width: 0;
    max-width: none;
    width: 50%;
    background-color: #4973ec;
  }

  a.link-button.call-to-action.outofview {
    -webkit-transition-delay: 3s;
       -moz-transition-delay: 3s;
         -o-transition-delay: 3s;
            transition-delay: 3s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: scaleX(.8) scaleY(.8);
       -moz-transform: scaleX(.8) scaleY(.8);
         -o-transform: scaleX(.8) scaleY(.8);
            transform: scaleX(.8) scaleY(.8);
  }

  a.link-button.blue.button:hover {
    background-color: #94c7f7;
  }

  a.link-button.call-to-action:hover {
    background-color: #94c7f7;
  }

  label.label.form-label {
    background-color: #4973ec;
  }

  /* Layout Elements */

  .container.call-to-action {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: center;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.container-1 {
    display: block;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  .container.business-hours {
    display: block;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.welcome-content {
    width: 50%;
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0s;
       -moz-transition-duration: 0s;
         -o-transition-duration: 0s;
            transition-duration: 0s;
    -webkit-transition-property: none;
       -moz-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
  }

  .container.welcome-image {
    margin-top: 12px;
    padding-top: 0;
    padding-right: 5px;
    padding-left: 5px;
    width: 50%;
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0s;
       -moz-transition-duration: 0s;
         -o-transition-duration: 0s;
            transition-duration: 0s;
    -webkit-transition-property: none;
       -moz-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
  }

  .container#container-1 {
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }

  .container#container-2 {
    -webkit-transition-delay: .7s;
       -moz-transition-delay: .7s;
         -o-transition-delay: .7s;
            transition-delay: .7s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }

  .container#container-3 {
    -webkit-transition-delay: .9s;
       -moz-transition-delay: .9s;
         -o-transition-delay: .9s;
            transition-delay: .9s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }

  .container#subgrid-column-1 {
    -webkit-transition-delay: 1.1s;
       -moz-transition-delay: 1.1s;
         -o-transition-delay: 1.1s;
            transition-delay: 1.1s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }

  .container.project-row {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: none;
    background-color: #f6f6f6;
  }

  .container.service-container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 33.333%;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }

  .container.mission-contain {
    padding-right: 10px;
    padding-left: 10px;
  }

  .container.employee-container {
    width: 25%;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }

  .container.contact-column-left {
    min-height: 600px;
  }

  .container.contact-column-right {
    min-height: 600px;
  }

  .container.c-t-a {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  .container.hours-of-operation-container {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1200px;
  }

  .container.navigation-section {
    max-width: none;
  }

  .container.welcome-section {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 10px 0;
  }

  .container.column-type {
    color: #fff;
  }

  .container.section-inner {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }

  .container.choice-card {
    width: 25%;
    color: #fff;
  }

  .container.choice-section {
    margin-top: 0;
  }

  .container.service-section {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 0;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }

  .container.service-inner {
    width: 100%;
  }

  .container.service-card {
    width: 25%;
  }

  .container.rule-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container.testimonials-section {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }

  .container.testimonial-heading {
    color: #fff;
  }

  .container.testimonial-card {
    color: #fff;
  }

  .container.testimonial-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: center;
    padding-top: 20px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.number-section {
    max-width: none;
    background-color: #4973ec;
  }

  .container.number-card {
    width: 25%;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }

  .container.footer {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: none;
    background-color: #141d23;
  }

  .container.footer-cards-wrapper {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }

  .container.footer-card {
    width: 25%;
    color: #fff;
  }

  .container.img-section {
    margin-right: auto;
    margin-left: auto;
  }

  .container.employees-section {
    clear: both;
    padding: 30px 50px;
    max-width: none;
    background-image: url('../images/about-background.jpg');
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: cover;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  .container.mission-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container.mission-card {
    padding-right: 15px;
    padding-left: 15px;
  }

  .container.services-wrapper {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .container.services-rule {
    width: 100%;
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0s;
       -moz-transition-duration: 0s;
         -o-transition-duration: 0s;
            transition-duration: 0s;
    -webkit-transition-property: none;
       -moz-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
  }

  .container.project-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    max-width: 1200px;
  }

  .container.project-card {
    padding-right: 12px;
    padding-left: 12px;
  }

  .container.name {
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }

  .container.phone {
    padding-top: 10px;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }

  .container.hours {
    padding-top: 5px;
    -webkit-transition-delay: .7s;
       -moz-transition-delay: .7s;
         -o-transition-delay: .7s;
            transition-delay: .7s;
    -webkit-transition-timing-function: ease-in-out;
       -moz-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }

  .container.welcome-content.outofview {
    opacity: 0;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: scaleX(.7) scaleY(.7);
       -moz-transform: scaleX(.7) scaleY(.7);
         -o-transform: scaleX(.7) scaleY(.7);
            transform: scaleX(.7) scaleY(.7);
  }

  .container.welcome-image.outofview {
    opacity: 0;
    -webkit-transition-delay: .7s;
       -moz-transition-delay: .7s;
         -o-transition-delay: .7s;
            transition-delay: .7s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: translateZ(0px) rotateZ(0deg) rotateY(180deg);
       -moz-transform: translateZ(0px) rotateZ(0deg) rotateY(180deg);
            transform: translateZ(0px) rotateZ(0deg) rotateY(180deg);
  }

  .container#container-1.outofview {
    opacity: 0;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: scaleX(.7) scaleY(.7);
       -moz-transform: scaleX(.7) scaleY(.7);
         -o-transform: scaleX(.7) scaleY(.7);
            transform: scaleX(.7) scaleY(.7);
  }

  .container#container-2.outofview {
    opacity: 0;
    -webkit-transition-delay: .7s;
       -moz-transition-delay: .7s;
         -o-transition-delay: .7s;
            transition-delay: .7s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: scaleX(.7) scaleY(.7);
       -moz-transform: scaleX(.7) scaleY(.7);
         -o-transform: scaleX(.7) scaleY(.7);
            transform: scaleX(.7) scaleY(.7);
  }

  .container#container-3.outofview {
    opacity: 0;
    -webkit-transition-delay: .9s;
       -moz-transition-delay: .9s;
         -o-transition-delay: .9s;
            transition-delay: .9s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: scaleX(.7) scaleY(.7);
       -moz-transform: scaleX(.7) scaleY(.7);
         -o-transform: scaleX(.7) scaleY(.7);
            transform: scaleX(.7) scaleY(.7);
  }

  .container#subgrid-column-1.outofview {
    opacity: 0;
    -webkit-transition-delay: 1.1s;
       -moz-transition-delay: 1.1s;
         -o-transition-delay: 1.1s;
            transition-delay: 1.1s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: scaleX(.7) scaleY(.7);
       -moz-transform: scaleX(.7) scaleY(.7);
         -o-transform: scaleX(.7) scaleY(.7);
            transform: scaleX(.7) scaleY(.7);
  }

  .container.service-container.outofview {
    opacity: 0;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: translateY(100px);
       -moz-transform: translateY(100px);
         -o-transform: translateY(100px);
            transform: translateY(100px);
  }

  .container.employee-container.outofview {
    opacity: 0;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: translateY(200px);
       -moz-transform: translateY(200px);
         -o-transform: translateY(200px);
            transform: translateY(200px);
  }

  .container.service-section.outofview {
    opacity: 0;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: translateX(-100px);
       -moz-transform: translateX(-100px);
         -o-transform: translateX(-100px);
            transform: translateX(-100px);
  }

  .container.testimonials-section.outofview {
    opacity: 0;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: translateX(-100px);
       -moz-transform: translateX(-100px);
         -o-transform: translateX(-100px);
            transform: translateX(-100px);
  }

  .container.number-card.outofview {
    opacity: 0;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: rotateX(0deg) rotateY(359deg);
       -moz-transform: rotateX(0deg) rotateY(359deg);
            transform: rotateX(0deg) rotateY(359deg);
  }

  .container.services-rule.outofview {
    opacity: 0;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: scaleX(.7) scaleY(.7);
       -moz-transform: scaleX(.7) scaleY(.7);
         -o-transform: scaleX(.7) scaleY(.7);
            transform: scaleX(.7) scaleY(.7);
  }

  .container.name.outofview {
    opacity: 0;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: translateX(-200px) translateY(0px);
       -moz-transform: translateX(-200px) translateY(0px);
         -o-transform: translateX(-200px) translateY(0px);
            transform: translateX(-200px) translateY(0px);
  }

  .container.phone.outofview {
    opacity: 0;
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: translateY(70px);
       -moz-transform: translateY(70px);
         -o-transform: translateY(70px);
            transform: translateY(70px);
  }

  .container.hours.outofview {
    opacity: 0;
    -webkit-transition-delay: .7s;
       -moz-transition-delay: .7s;
         -o-transition-delay: .7s;
            transition-delay: .7s;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transform: translateY(70px);
       -moz-transform: translateY(70px);
         -o-transform: translateY(70px);
            transform: translateY(70px);
  }

  span.glyph.font-icon-2 {
    color: #1c76c7;
    font-size: 33px;
  }

  div.responsive-picture.service-image {
    max-width: 300px;
  }

  .rule.rule-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .rule.rule-1 hr {
    border-top-width: 1px;
    border-top-color: #5b5757;
  }

  div.responsive-picture.testimonial-image {
    margin-right: auto;
    margin-left: auto;
    border: .0625rem solid #1c76c7;
  }

  span.glyph.service-icon {
    float: left;
    margin-right: 5px;
    margin-left: 0;
    color: #4973ec;
    font-size: 46px;
  }

  .rule.rule-2 hr {
    border-top-color: #2c3840;
  }

  .rule.rule-2 {
    margin-right: auto;
    margin-left: auto;
    width: 20%;
  }

  div.responsive-picture.project-image {
    margin-bottom: 20px;
    max-width: none;
  }

  div.responsive-picture.about-image {
    max-width: 600px;
  }

  div.responsive-picture.large-horizontal {
    height: auto;
  }

  div.responsive-picture.large-horizontal > picture {
    height: auto;
  }

  a.social-image.social-icon-1:hover {
    background-color: #94c7f7;
  }

  li.list-item-link.blue-list-item:hover > a {
    color: #94c7f7;
  }
}